# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
env/
ENV/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mac
.DS_Store

# VS Code
.vscode/

# Model files (optional)
*.pkl
*.joblib

# Logs
*.log
